apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: keg-deployment
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: keg
    spec:
      containers:
        - name: keg
          image: milk/keg:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 4000
          args: ["foreground"]
          env:
            - name: HOST
              value: "example.com"
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: secret_key_base
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: ERLANG_COOKIE
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: erlang_cookie
